:host {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: black; /* Change background to black */
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

/* Style PrimeNG Menubar */
::ng-deep .p-menubar {
  background-color: rgb(131, 128, 128) !important;
  border: none;
}

/* Menubar items */
::ng-deep .p-menubar-item-link {
  color: white !important;
}

/* Icon color */
::ng-deep .p-menubar-item-link .pi {
  color: white !important;
}

/* Hover effect */
::ng-deep .p-menubar-item-link:hover {
  background-color: #222 !important;
  color: #f1f1f1 !important;
}
.logo {
     height: 4rem;              
    display: flex;
    align-items: center;
    padding-left: 0.3rem;
}



.logo-figure {
    width: 7rem; 
    height: 5.5rem;
    background-image: url('../../../assets/images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}