
<section [style]="{ 'margin-top': '100px'}">
    @if (productType) {
      <app-product-grid

title="Our tech Products"
[productType]="1"
[showSeeMore]="false"
[products]="allProducts"


></app-product-grid>
    } @else {
      <app-product-grid
        title="Our market Products"
        [productType]="2"
        [showSeeMore]="false"
        [MarketProduct]="MarketProducts"
      ></app-product-grid>
    }
</section>
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#c57e7e" type="ball-circus" [fullScreen]="true">
  <p style="color: rgb(141, 92, 92)"> Loading... </p>
</ngx-spinner>