<h2 class="title">Our All Product</h2>

<div class="product-grid">
  @for (item of allProducts; track item.id) {
    <div class="card">
      <div class="card-image-container">
        <img [src]="item.image" [alt]="item.title" />
        <div class="overlay">
          <div class="info">
            <h4>{{ item.title | slice:0:15 }}...</h4>
            <p><strong>Brand:</strong> {{ item.brand }}</p>
            <p><strong>Discount:</strong> {{ item.discount || 0 }}%</p>
            <p><strong>Price:</strong> ${{ item.price }}</p>

          <!-- <div class="cart-controls">
            <button (click)="decrement(product)">−</button>
            <span>{{ product.quantity || 0 }}</span>
            <button (click)="increment(product)">+</button>
            <button class="add-cart-btn" (click)="addToCart(product)">Add to Cart</button>
          </div> -->
        </div>
      </div>
    </div>
  </div>
  }
</div>

<div class="see-more-container">
  <button >See More Products</button>
</div>
