<div class="card">
    <p-menubar  [model]="items" > 
        <ng-template #start>
            <div class="logo">
                <figure class="logo-figure">

                </figure>
            </div>
        </ng-template>
        <ng-template pTemplate="item" let-item let-root="root">
            
                <a
                    routerLinkActive="active-link" 
                    [routerLink]="item.routerLink"
                    pRipple
                    class="p-menubar-item-link p-link inline-flex justify-content-center align-items-center hover:surface-100 transition-all transition-duration-200">
                    <span [class]="item.icon"></span>
                    <span class="ml-2">{{item.label}}</span>
                </a>
            
        </ng-template>
        
        <ng-template #end>
            <div class="flex items-center justify-content-center align-items-center gap-4" style="margin:10px; ">
                <p-overlaybadge [value]="cartCount" >
                    <i class="pi pi-shopping-cart" style="font-size: 1.5rem;"></i>
                </p-overlaybadge>
                <p-menu #menu [popup]="true" [model]="menuItems"></p-menu>
                    <button pButton 
                            type="button" 
                            class="customer-btn" 
                            icon="pi pi-user" 
                            [label]="userName"
                            (click)="menu.toggle($event)">
                    </button>
            </div>
        </ng-template>
    </p-menubar>
</div>